<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<title>Learning Vuejs - Form</title>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="row justify-content-center align-items-center minh-100 mt-5">
					<div class="col-md-6">
						<div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Formulario con Vuejs</h5>
                            </div>
							<div class="card-body">
								<p class="card-text">
                                    <form class="form-group" action="">
                                        <div class="form-group">
                                            <label for="">Nombre</label>
                                            <input class="form-control" :class="{'is-invalid': !form.name, 'is-valid' : form.name }" type="text" name="" id="" v-model="form.name">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Apellido</label>
                                            <input class="form-control" :class="{'is-invalid': !form.fullname, 'is-valid' : form.fullname }" type="text" name="" id="" v-model="form.fullname">
                                        </div>
										<div class="form-group">
                                            <label for="">Mensaje</label>
                                            <textarea class="form-control" name="" id="" v-model="form.message"></textarea>
                                        </div>
                                        <hr>
                                        <label for="">Hora de Contacto</label>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" v-model="form.contact" value="mañana">
                                            <label class="custom-control-label" for="customRadio1">Mañana</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" v-model="form.contact" value="tarde">
                                            <label class="custom-control-label" for="customRadio2">Tarde</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" v-model="form.contact" value="noche">
                                            <label class="custom-control-label" for="customRadio3">Noche</label>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <select class="custom-select" required v-model="form.product">
                                            <option value="">Open this select menu</option>
                                            <option value="product1">Producto 1</option>
                                            <option value="product2">Producto 2</option>
                                            <option value="product3">Producto 3</option>
                                            </select>
                                            <div class="invalid-feedback">Example invalid custom select feedback</div>
                                        </div>
                                        <div class="form-group">
											<label for="">Aceptacion de condiciones</label>
                                            <input type="checkbox" class="form-contorl" v-model="form.acept">
											<button v-if="form.acept" class="btn btn-primary btn-block">Enviar</button>
                                        </div>
                                    </form>
                                </p>
							</div>
						</div>
					</div>
					<div class="col-md-6 border">
						<pre>{{ $data }}</pre>
					</div>
				</div>s
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script>
			var vm = new Vue({
				el: '#app',
				mounted() {
					if (window.localStorage.getItem('form')) {
						this.form = JSON.parse(window.local.Storage.getItem('form'));
					}
				},
				data: {
					form: {
						name: '',
						fullname: '',
						message: '',
						contact: '',
						product: '',
						acept: false,
					},
				},
			});

			vm.$watch('form', (newVal, oldVal) => {
				console.log(newVal.name);
				window.localStorage.setItem('form', JSON.stringify(newVal));
			}, {deep: true});
		</script>
	</body>
</html>
